.item {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 180px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.item:hover {
  transform: scale(1.03);
}
.status {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 10px;

  background-color: gray;
  margin-right: 10px;
}

.green {
  background-color: #68d89b;
}

.red {
  background-color: #ff2c55;
}

.avatar {
  margin-right: 10px;
}
.name {
  font-weight: 500;
  font-size: 18px;
  color: #343a40;
}
